.team-list {
    text-align: left;
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
  }
  
  ul {
    list-style: none;
  }

  li {
    margin-bottom: 10px; /* Adjust the value as needed */
  }
  
  .pdf-icon {
    width: 20px; /* Adjust the size as needed */
    margin-right: 5px; /* Adjust the spacing between icon and text */
  }

  /* Team.css */
.reports-container {
  display: flex;
  justify-content: flex-start;
}

